.Kalkulator {
    text-align: center;
    margin: 0 otomatis;
    padding-top: 200px;
}

.calculator-screen {
    lebar: 100%;
    tinggi: 100px;
    warna latar: # 252525;
    warna: biru langit;
    text-align: right;
    ukuran font: 36px;
    batas: tidak ada;
    bantalan: 0 20px;
    ukuran kotak: kotak batas;
}

.calculator-keys {
    lebar: 100%;
}

.baris{
    tampilan: flex;
}

tombol{
    tinggi: 80px;
    warna latar belakang: abu-abu;
    perbatasan: 1px hitam pekat;
    ukuran font: 32px;
    warna: #fff;
    lebar: 25%;
    garis besar: tidak ada;
}

.all-clear, .zero-btn {
    lebar: 50%;
}

.operator, .equal-sign {
    warna latar belakang: oranye;
}

tombol: hover {
    background-color: darkgray;
}

.operator: hover, .equal-sign: hover {
    warna latar belakang: darkorange;
}
